## BASE ##
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure rconlog
ensure oxmysql
ensure es_extended
ensure ox_lib
ensure illenium-appearance


## RESOURCES ##
ensure [core]
ensure [esx]
ensure [garage]
ensure [hud]
ensure [inventario]
ensure [mapeos]
ensure [noesx]
ensure [jobs]
ensure [actividades]
ensure [drogas]
ensure [discord]
ensure [telefono]
ensure [vehiculos]
ensure [ropa]
ensure [peds]
## SCRIPTS STOPEADOS ##
stop ks_onlinejobs