# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

## CONEXION SQL ##
set mysql_connection_string "mysql://root@localhost/server?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

## TAGS DEL SERVIDOR ##
sets tags "fivem, fivem list, RetornoRP, esp, lat, col, arg, cl, pe, banda, mafia, roleserio, rp, role, roleplay"

## REGION DEL SERVIDOR ##
sets locale "es-PE" 

## LOGO DEL SERVIDOR ##
load_server_icon myLogo.png

sets Owners: "Persin - !Vx"
sets Programador: "💻!Vx💻"
sets Discord:  "discord.gg/retornorp"

## BANNERS DEL SERVIDOR ##
sets banner_detail ""
sets banner_connecting ""

## NOMBRES DEL SERVIDOR##
sv_hostname "Retorno Roleplay"
sets sv_projectName "[^1E^3S^1P^0/^4L^0A^4T^0] ^0RetornoRP^0 | ^1🔪Mafias/Bandas🔪^0 | ^2💲30k Bienvenida💲^0 | ^3🔓No Whitelist🔓^0 | ^6👕Ropa Real👕^0 | ^3🚘Coches Reales🚘^0 | ^4👮🏾LSPD👮🏾^0/^1🚑EMS🚑^0/🔧Mecanicos🔧/^3🚖Taxis🚖^0 | ^3🎲Eventos🎲^0 | ^8🔋Staff 24/7🔋^0 | ^1💻Server Optimizado💻^0 | ^5🔱Scripts Propios🔱^0 |"
sets sv_projectDesc "Retorno Roleplay / discord.gg/retornorp"



## STARTS DE RESOURCES ##
exec resources.cfg


# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you want your server to be listed as 'private' in the server browser.
# Do not edit it if you *do not* want your server listed as 'private'.
# Check the following url for more detailed information about this:
# https://docs.fivem.net/docs/server-manual/server-commands/#sv_master1-newvalue
#sv_master1 ""


# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

## CUANTAS PERSONAS ENTRARAN AL SERVER ##
sv_maxclients 1


## KEYS ##
sv_licenseKey "cfxk_1pgBJZnP4qP2s38DDTkAk_15Suyf"
set steam_webApiKey "2327DBCAA168C72F2F37C93E4939904D"


## PERMISOS SERVIDOR E SCRIPTS ##

## PERMISOS ADMINISTRACION ##
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow


## PERMISOS OX_INVENTORY
setr inventory:framework "esx"
setr inventory:locale "es"
setr inventory:weight 50000
setr inventory:autoreload true
setr inventory:aimedfiring false
# Toggle weapon draw/holster animations
setr inventory:weaponanims false
setr inventory:itemnotify true  
setr inventory:weaponmismatch false
# Loot will randomly generate inside unowned vehicles and dumpsters
set inventory:randomloot false
## OX LIB ##
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

## ILLENIUM APPEARANCE ##
setr illenium-appearance:locale "en"


## JOB CREATOR ##
add_ace group.admin jobcreator allow # Add permission to group
add_principal identifier.license:e16ad87aa6b3a4609463e0b0e0996fcde2b06287 group.admin # Add player to the group










